.container {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  color: black;
  margin-bottom: 16px;
}